[submodule "gradle-marytts-lexicon-compiler-plugin"]
	path = gradle-marytts-lexicon-compiler-plugin
	url = https://github.com/marytts/gradle-marytts-lexicon-compiler-plugin.git
[submodule "marytts-lexicon-de"]
	path = marytts-lexicon-de
	url = https://github.com/marytts/marytts-lexicon-de.git
[submodule "marytts-lexicon-en_US-cmudict"]
	path = marytts-lexicon-en_US-cmudict
	url = https://github.com/marytts/marytts-lexicon-en_US-cmudict.git
[submodule "marytts-lexicon-fr"]
	path = marytts-lexicon-fr
	url = https://github.com/marytts/marytts-lexicon-fr
[submodule "marytts-lexicon-it"]
	path = marytts-lexicon-it
	url = https://github.com/marytts/marytts-lexicon-it.git
